/* Color Palette - https://coolors.co/0b2027-a4b494-bec5ad-519872-510d0a */

:root {
--charleston-green: #0b2027ff;
--laurel-green: #a4b494ff;
--laurel-green-2: #bec5adff;
--shiny-shamrock: #519872ff;
--rosewood: #510d0aff;
}

body {
    background-color: var(--charleston-green);
    position: absolute;
    height: 100%;
    width: 100%;
    color: var(--charleston-green);
}
a:any-link {
    text-decoration: none;
    color: var(--charleston-green);
}

#container {
    background-color: var(--laurel-green-2);
    border-radius: 1%;
    -webkit-border-radius: 1%;
    -moz-border-radius: 1%;
    -ms-border-radius: 1%;
    -o-border-radius: 1%;
    height: 90%;
    width: 90%;
    min-height: 500px;
    margin: auto;
}

#container h1 {
    text-align: center;
    font-size: 50px;
}

#ourTeam {
    width: 90%;
    margin: auto;
    border: 1px solid var(--charleston-green);
}
#ourTeam button {
    width: 100%;
    height: 40px;
    font-size: 30px;
    letter-spacing: 3px;
}

#ourTeam ul {
    display: inline-flex;
    text-align: center;
    list-style: none;
}

#ourTeam ul li {
    width: 30%;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
    background-color: var(--laurel-green);
}

#ourTeam ul h2 {
    width: 200px;
    margin: auto;
    background: var(--shiny-shamrock);
}

#ourTeam img {
    width: 100%;
}
